* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background: linear-gradient(#281eff, #2dff8c);
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.text {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  color: white;
  font-family: "Satisfy", cursive;
}
/* .toajust{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-family: "Satisfy", cursive;
} */

.text > h1 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  font-weight: 100;
  
}
.text > h4 {
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  margin: 10px;
  padding-bottom: 10px;
}
.text > p {
  font-family: "Varela Round", sans-serif;
  padding-bottom: 20px;
}
.in {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.in1 {
  display: flex;
}
.form-control {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 20px;
}
.in > button {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  width: 150px;
  height: 27px;
  margin-top: 13px;
  font-size: smaller;
}

.in > .in1 > .form-control > label {
  font-size: 12px;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
}
.in > .in1 > .form-control > input {
  border: white 2px solid;
  background-color: #ffffff2d;
  width: 250px;
  height: 27px;
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text {
    
    padding: 0;
    justify-content: center;
    width: 80%;
    height: 40vh;

    margin:0 auto;
  }
  .text > h1 {
    padding-top: 25px;
    font-size: 60px;
    justify-content: center;
    margin-top: 130px;
   
  }
  .text > h4 {
    font-size: 20px;
  }
  .text > p {
    font-size: 18px;
    margin-bottom: 50px;
    
  }
  .text h4{
    margin-bottom: 0px;
  }
  .in {
    display: block;
    width: 100%;
    height: 50vh;
    
    
  }
  .in1 {
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
  .form-control {
    margin: auto;
    width: 100%;
  }
  .in > button {
    width:80% ;
    height: 40px;
    margin-top: 17px;
    color: #2823FD;
  }
  .in > .in1 > .form-control > label {
  width: 80%;
  margin: auto;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 3px;
  
  }
  .in > .in1 > .form-control > input {
    width: 80%;
    height: 45px;
    margin: auto;
  }
}
